{include file="../layout.html"}

<h2>{$title}</h2>

<form id="frm" action="{$base_url}/account/update/{$id}" method="post">
	<input type="hidden" name="_token" value="{$_token|escape}" />
	
	{foreach from=$inputs key=$col_name item=$value}
		<input type="hidden" name="{$col_name}" value="{$value|escape}" />
	{/foreach}

	<table>
		{foreach from=$items key=$col_name item=$propertys}
		<tr>
			{include file="../controll_parts/viewonly.html"}
		</tr>	
		{/foreach}
	</table>

	{if $_button === 'update'}
		<p>この更新内容で確定してよろしいですか？</p>
			<button name="button" value="back">戻る</button>
			<button name="button" value="fixed">確定</button>
	{elseif $_button === 'fixed'}
		<p>上記内容で更新しました。
			<br>ホームボタンをクリックしてください。
		</p>
	{/if}
</form>
