{include file="../layout.html"}

<h2>{$title}</h2>

<!-- debug_print_var
{$smarty.session|@debug_print_var} -->

{if $_button !== 'fixed'}
	<form id="frm" action="{$base_url}/account/passwordChange" method="post">
		<input type="hidden" name="_token" value="{$_token|escape}" />
		<input type="hidden" name="id" value="{$smarty.session.login_user.id|escape}" />

		{if isset($errors) && count($errors) > 0}
			{include file="../errors.html"}
		{/if}

		<table>
			<tr><td>現在のパスワード</td></tr>
			<tr>
				<td>
				<input type="password" 
				name="cur_password" 
				value="{$inputs.cur_password}" >
				</td>
			</tr>
			
			<tr><td>新しいパスワード</td></tr>
			<tr>
				<td>
				<input type="password" 
				name="new_password" 
				value="" >
				</td>
			</tr>

			<tr><td>新しいパスワード(確認用)</td></tr>
			<tr>
				<td>
				<input type="password" 
				name="new_password_conf" 
				value="" >
				</td>
			</tr>
		</table>

		{if is_null($_button) || $_button === 'back'}
			<button type="button" onclick="history.back()">戻る</button>
			<button name="button" value="fixed">パスワード変更確定</button>
		{/if}
	</form>

{else}
	<p>パスワードを変更しました</p>
{/if}
