{include file="../layout.html"}

<h2>{$title}</h2>

<!-- debug_print_var
{$items|@debug_print_var} -->

<form id="frm" action="{$base_url}/account/update" method="post">
	<input type="hidden" name="_token" value="{$_token|escape}" />
	<input type="hidden" name="id" value="{$inputs.id|escape}" />

	{if isset($errors) && count($errors) > 0}
		{include file="../errors.html"}
	{/if}

	<table>
		{foreach from=$items key=$col_name item=$propertys}
			{if 'invisible' !== $propertys.edit_type}
			<tr>
				{include file="../controll_parts/`$propertys.item_type`.html"}
			</tr>
			{/if}
		{/foreach}
	</table>

	{if is_null($_button) || $_button === 'back'}
		<button type="button" onclick="history.back()">戻る</button>
		<button name="button" value="update">更新</button>
	{/if}
</form>
