<td>{$propertys.alias}</td>
<td>
	<!-- debug_print_var
{$price_type_formatted|@debug_print_var} -->
	<select name="{$col_name}" 
		size="{$propertys.size}">	
		<!-- <option value="" selected>選択してください</option> -->
		{if '' !== $propertys.ref_const_name}
			{foreach constant($propertys.ref_const_name) key=$key item=$value}
				<option value="{$key}"
					{if $key === intval($inputs.$col_name)}
						selected
					{/if}
					>{$value|escape}
				</option>
			{/foreach}			
		{else}
			{foreach ${$propertys.ref_var_name} key=$key item=$value}
				<option value="{$key}"
					{if $key === intval($inputs.$col_name)}
						selected
					{/if}
					>{$value|escape}
				</option>
			{/foreach}			
		{/if}
	</select>
</td>
